.m2{margin: 2px;}
.m5{margin: 5px;}
.m10{margin: 10px;}
.m15{margin: 15px;}
.m20{margin: 20px;}
.m30{margin: 30px;}

.mr2{margin-right: 2px;}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr30{margin-right: 30px;}

.ml2{margin-left: 2px;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}

.mt2{margin-top: 2px;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt100{margin-top: 100px;}

.mb2{margin-bottom: 2px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}


.p2{padding: 2px;}
.p5{padding: 5px;}
.p10{padding: 10px;}
.p15{padding: 15px;}
.p20{padding: 20px;}
.p30{padding: 30px;}

.pr2{padding-right: 2px;}
.pr5{padding-right: 5px;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pr30{padding-right: 30px;}

.pl2{padding-left: 2px;}
.pl5{padding-left: 5px;}
.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pl30{padding-left: 30px;}

.pt2{padding-top: 2px;}
.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt30{padding-top: 30px;}

.pb2{padding-bottom: 2px;}
.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}

.c-red{color: red;}
.c-orange{color: orange;}
.c-blue{color: blue;}
.c-cyan{color: cyan;}
.c-green{color: green;}
.c-black{color: black;}
.c-gray{color: gray;}
.c-888{color: #888;}
.c-ccc{color: #ccc;}
.bgc-255{background-color: rgb(255, 255, 255);}

.f-10{font-size: 10px;}
.f-12{font-size: 12px;}
.f-14{font-size: 14px;}
.f-24{font-size: 24px;}

.t-al{text-align: left;}
.t-ac{text-align: center;}
.t-ar{text-align: right;}

.m_mw{max-width: 100%;}
.m-fl{float: left;} 
.m-fr{float: right;} 
.m-cl{clear: both;}

.m-hidden{display: none;}
.m-show{display: block;}

.m-lineb:before,.m-linef:after {
    content: " ";
    position: absolute;
    left: 10px;
    right: 10px;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    z-index: 2;
}